.venv
.git
.github
.idea
.vscode

__pycache__
*.py[cod]

.pytest_cache
.mypy_cache
.ruff_cache
.coverage
htmlcov

tests
**/tests
**/tests/**

credentials/*
!credentials/ca-cert.crt
!credentials/seed_users.json

media
staticfiles

README.md
Makefile
pytest.ini