variables:
  - &target_folders_blc "^(carrier|catalog)/.*\\.py$"
  - &target_folders "^(carrier|catalog)/"
repos:
  - repo: https://github.com/psf/black
    rev: 24.3.0
    hooks:
      - id: black
        files: *target_folders_blc

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        files: *target_folders

  - repo: https://github.com/PyCQA/flake8
    rev: 7.1.0
    hooks:
      - id: flake8
        files: *target_folders
        args: [
          "--max-line-length=120",
          "--extend-ignore=E203,W503",
          "--exclude=.venv,venv,env,__pycache__,**/migrations/*"
        ]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.10.0
    hooks:
      - id: mypy
        files: *target_folders
        exclude: ^.*/migrations/
        additional_dependencies: [
          "types-pytz"
        ]